# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

MUJOCO_LOG.TXT

# Other IDEs and editors
*.sublime-project
*.sublime-workspace
.project
.pydevproject
*.swp
*.orig
.idea
.settings
.vscode/

# MacOS
.DS_Store

# no submodules, please
.gitmodules
